body {
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

a {
    outline: medium none;
    cursor: pointer;
    text-decoration: none;
    color: #2895F1;
}

a:hover {
    text-decoration: underline;
}

body, input, textarea, select, button, .normal {
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
    font-size: 13px;
    color: #3D464D;
    font-weight: normal;
}

button:focus {
    outline:0;
}

.clear {
    clear: both;
}

.noselect {
    user-select: none;
}

#error-box {
    line-height: 1.6em;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
    text-align: left;
    color: #444;
    font-size: 16px;
    width: 100%;
}

#error-box h1 {
    color: #222;
    font-size: 1.5em;
    font-weight: normal;
    margin: 10px 0;
}

#container {
    width: 990px;
    margin: 0 auto;
}

#sidebar {
    position: fixed;
    width: 180px;
    top: 50px;
    z-index: 6;
}

#main-nav {
    margin-top: 27px;
}

#main-nav li {
    list-style: none;
}

#main-nav a:hover {
    text-decoration: none;
}

#browse-sort {
    border-bottom: 1px solid #e5e5e5;
}

#browse-sort, #browse-action-bar {
    line-height: 29px;
    padding: 3px 2px;
    height: 30px;
}

#browse-sort #name-sorter {
    width: 47%;
}

#browse-sort #modified-sorter {
    width: 25%;
}

#browse-sort #shared-sorter {
    width: 28%;
}

#browse-sort .sortable-column-header {
    float: left;
    text-align: left;
    font-size: 12px;
    color: #AAA;
}

#browse-sort .sortable-column-header:hover {
    text-decoration: none;
}

#browse {
    padding-left: 190px;
}

#browse-box {
    min-height: 425px;
}

#browse-header {
    position: fixed;
    top: 50px;
    z-index: 4;
    width: 800px;
    min-height: 98px;
    background: #FFF;
}

#browse-header .sortable-column-header img {
    width: 9px;
    height: 5px;
}

#browse-header .sortable-column-header img.arrow-down {
    background: resolve("web_sprites.png") no-repeat left -6224px;
}

#browse-header .sortable-column-header img.arrow-up {
    background: resolve("web_sprites.png") no-repeat left -6238px;
}

#browse-action-bar {
    margin-bottom: 26px;
}

#browse-location {
    width: 400px;
}

#browse-location .browse-breadcrumb {
    background: resolve("web_sprites.png") no-repeat left -6367px;
}

#browse-location img {
    width: 7px;
    height: 11px;
    margin: 0 3px;
}

.header-text {
    font-size: 18px;
    font-weight: normal;
}

#browse-items, #browse-items-empty-folder {
    margin: 0px;
    padding: 149px 0px 0px;
}

#browse-items .name {
    display: block;
    float: left;
    height: 32px;
    width: 47%;
}

#browse-items .name .name-link {
    color: #3D464D;
    font-size: 13px;
    white-space: pre;
}

#browse-items .modified {
    float: left;
    width: 25%;
}

#browse-items .shared {
    float: left;
    width: 28%;
}

#browse-items .browse-item {
    text-align: left;
    padding: 7px 2px 6px;
    margin: 0px 0px -1px;
    list-style: outside none none;
    line-height: 32px;
    position: relative;
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 1px 0px;
    border-image: none;
}

#browse-items .browse-item:hover {
    background: #f5fafe;
    border-color: #e1eaf1;
    position: relative;
}

#browse-items .browse-item .icon {
    float: left;
    width: 32px;
    height: 32px;
    display: block;
    margin-top: -2px;
    margin-right: 11px;
    margin-left: -1px;
    background-color: transparent;
    vertical-align: bottom;
    cursor: pointer;
    border: 1px solid transparent;
}

#browse-items .browse-item .sprite-dir {
    background: resolve("web_sprites.png") no-repeat left -376px;
}

#browse-items .browse-item .sprite-text {
    background: resolve("web_sprites.png") no-repeat left -1872px;
}

#context-menu-container ul {
    margin: 0px;
    padding: 4px 0;
    list-style: none;
    min-width: 160px;
    white-space: nowrap;
}

#context-menu {
    position: fixed;
    z-index: 501;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    border: 1px solid rgba(61,70,77,0.1);
    border-radius: 5px;
    background: #fff;
    background-clip: padding-box;
}

#context-menu li.action {
    height: 34px;
    position: relative;
}

#context-menu button {
    min-width: 160px;
    height: 100%;
    padding: 8px 8px;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#context-menu button div {
    cursor: pointer;
}

ul.menu div.icon-frame {
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
}

ul.menu div.icon-frame img {
    display: block;
    margin: auto;
    padding-right: 3px;
}

ul.menu li:hover {
    background-color: #e3f2ff;
}

#context-menu .sprite-context-menu-download {
    background: resolve("web_sprites.png") no-repeat left -6462px;
}

#context-menu .sprite-context-menu-open {
    background: resolve("web_sprites.png") no-repeat left -7093px;
}

#context-menu .sprite-context-menu-delete {
    background: resolve("web_sprites.png") no-repeat left -6442px;
}

#context-menu .sprite-context-menu-rename {
    background: resolve("web_sprites.png") no-repeat left -7172px;
}

#context-menu .sprite-context-menu-copy {
    background: resolve("web_sprites.png") no-repeat left -6381px;
}

#context-menu .sprite-context-menu-upload {
    background: resolve("web_sprites.png") no-repeat left -7842px;
}

#context-menu .sprite-context-menu-create-folder {
    background: resolve("web_sprites.png") no-repeat left -2166px;
}

#context-menu .icon {
    width: 19px;
    height: 19px;
}

.closed {
    visibility: hidden;
}

.opened {
    visibility: visible;
}

.modal {
    width: 640px;
    margin: 0px 0px 0px -320px;
    position: fixed;
    top: 90px;
    z-index: 1000;
    left: 50%;
    border: 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.modal h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 20px 32px;
    background: none;
    margin: 0;
}

.modal-content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #f6f9fc;
    border-top: 1px solid #e5e5e5;
    padding: 32px;
    line-height: 1.8em;
    font-size: 13px;
    word-wrap: break-word;
    -webkit-nbsp-mode: space;
    -webkit-line-break: after-white-space;
}

#modal-overlay, #modal-overlay-progressbar {
    background-color: rgba(37,40,43,0.6);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

#upload-buttons, #create-folder-buttons {
    text-align: right;
    margin-top: 20px;
}

#upload-input {
    display: none;
}

#upload-status {
    background-color: #e9f4ff;
    border: 1px solid #b9b9b9;
    height: 35px;
    line-height: 35px;
    margin-top: 20px;
    position: relative;
}

#upload-status img {
    float: right;
    padding: 3px 8px;
    margin: 6px 0px;
}

#upload-status #file-info {
    float: left;
}

#upload-status .upload-file-name {
    margin-left: 10px;
}

#upload-progressbar-message {
    font-size: 11px;
    line-height: 32px;
    vertical-align: top;
    margin-top: 20px;
    display: block;
}

.blue-button {
    background: #007ee5 linear-gradient(#168add, #007ee5);
    border: 1px solid #0c6ebe;
    color: white;
}

.blue-button:disabled {
    opacity: .4;
    cursor: default;
}

.grey-button {
    background: #fff;
    border: 1px solid #bbb;
    color: #47525d;
}

.blue-button, .grey-button {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    overflow: visible;
    text-decoration: none;
    padding: 5px 16px;
    margin-left: 10px;
    border-radius: 3px
}

.text-input {
    border: 1px solid #bdc4c9;
    font-size: 16px;
    padding: 5px 6px;
    width: 100%;
    margin: 2px 0 5px;
    min-height: 34px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-appearance: none;
}

#create-folder-errors {
    min-height: 17px;
}
