<ul id="context-menu" class="menu closed">
  <li class="action">
    <button id="context-menu-open-button">
      <div class="icon-frame">
        <img class="icon sprite-context-menu-open" ng-src="/assets/images/icon_spacer.gif" />
      </div>
      <span>Open</span>
    </button>
  </li>
  <li class="action">
    <button id="context-menu-delete-button">
      <div class="icon-frame">
        <img class="icon sprite-context-menu-delete" ng-src="/assets/images/icon_spacer.gif" />
      </div>
      <span>Delete</span>
    </button>
  </li>
  <li class="action">
    <button id="context-menu-rename-button">
      <div class="icon-frame">
        <img class="icon sprite-context-menu-rename" ng-src="/assets/images/icon_spacer.gif" />
      </div>
      <span>Rename</span>
    </button>
  </li>
</ul>
