<modal id="modal-upload-progressbar" class="modal progressbar closed">
  <h2 class="modal-title">Upload to My Cloud Drive</h2>
  <section class="modal-content">
    <div id="upload-status">
      <div id="file-info">
        <span class="icon"></span>
        <span class="upload-file-name">Uploading {{fileName}}</span>
      </div>
      <img src="/assets/images/loading-small.gif" />
    </div>
    <span id="upload-progressbar-message">This may take a while depending on the size of the file.</span>
  </section>
</modal>