<div id="modal-upload" class="modal closed">
  <h2 id="modal-title">Upload to My Cloud Drive</h2>
  <section id="modal-content">
    <span>Choose files to upload to your Cloud Drive. You can select more than one file at a time. You can also drag and drop files anywhere on this page to start uploading.</span>
    <section id="upload-buttons">
      <input type="button" id="upload-choose-button" value="Choose files" class="blue-button" upload />
      <input type="button" id="cancel-button" value="Cancel" class="grey-button" ng-click="closeModalWindow($event)" />
    </section>
  </section>
  <section id="upload-input-container">
    <input type="file" multiple id="upload-input" />
  </section>
</div>