<div id="modal-create-folder" class="modal closed">
  <h2 class="modal-title">Create a new folder</h2>
  <section class="modal-content">
    <form method="post">
      <label>What is the name of your new folder?</label>
      <div id="create-folder-errors"></div>
      <input type="text" id="folder-name" class="text-input" name="folder-name" ng-model="folderName" />
      <section id="create-folder-buttons">
        <input type="button" id="create-folder-button" value="Create folder" class="blue-button" ng-disabled="!folderName.length" ng-click="create($event)" />
        <input type="button" id="cancel-button" value="Cancel" class="grey-button" ng-click="closeModalWindow($event)" />
      </section>
    </form>
  </section>
</div>