<div id="sidebar">
  <ul id="main-nav">
    <li><a href="/about">About</a></li>
  </ul>
</div>
<div id="browse" class="noselect">
  <section id="modal-container-upload" ui-view="upload"></section>
  <section id="modal-container-upload-progressbar" ui-view="uploadProgressbar"></section>
  <section id="modal-container-download" ui-view="download"></section>
  <section id="modal-container-create-folder" ui-view="createFolder"></section>
  <section id="context-menu-container" ui-view="contextMenu"></section>
  <div id="browse-box">
    <div id="browse-header">
      <div id="browse-action-bar">
        <div id="browse-location" class="header-text">
          <breadcrumbs></breadcrumbs>
        </div>
      </div>
      <div id="browse-sort">
        <a id="name-sorter" class="sortable-column-header" ng-click="sortType = 'name'; sortReverse = !sortReverse">
          <span>Name</span>
          <img class="arrow-down" ng-show="sortType == 'name' && !sortReverse" ng-src="/assets/images/icon_spacer.gif" />
          <img class="arrow-up" ng-show="sortType == 'name' && sortReverse" ng-src="/assets/images/icon_spacer.gif" />
        </a>
        <a id="modified-sorter" class="sortable-column-header" ng-click="sortType = 'modified'; sortReverse = !sortReverse">
          <span>Modified</span>
          <img class="arrow-down" ng-show="sortType == 'modified' && !sortReverse" ng-src="/assets/images/icon_spacer.gif" />
          <img class="arrow-up" ng-show="sortType == 'modified' && sortReverse" ng-src="/assets/images/icon_spacer.gif" />
        </a>
        <a id="shared-sorter" class="sortable-column-header" ng-click="sortType = 'sharedWith'; sortReverse = !sortReverse">
          <span>Shared with</span>
          <img class="arrow-down" ng-show="sortType == 'sharedWith' && !sortReverse" ng-src="/assets/images/icon_spacer.gif" />
          <img class="arrow-up" ng-show="sortType == 'sharedWith' && sortReverse" ng-src="/assets/images/icon_spacer.gif" />
        </a>
      </div>
    </div>
    <section ui-view="filesList"></section>
  </div>
</div>
<div id="modal-overlay" class="overlay closed"></div>

<label for="userEmail">Use a temporary dropdown to select user email:</label><br>
<select name="userEmail" id="userEmail" ng-model="userEmail">
  <option value="admin@mail.com">admin@mail.com</option>
  <option value="masdeft@gmail.com">masdeft@gmail.com</option>
  <option value="testuser@mail.com">testuser@mail.com</option>
</select>
