<div id="page-header"></div>
<div id="sidebar">
  <ul id="main-nav">
    <li><a href=""></a></li>
  </ul>
</div>
<div id="browse" class="noselect">
  <div id="context-menu-container" mcc-context-menu></div>
  <mcc-modal-window id="modal-create-folder" class="closed" mcc-create-folder></mcc-modal-window>
  <mcc-modal-window id="modal-upload" class="closed" mcc-upload></mcc-modal-window>
  <mcc-modal-window id="modal-upload-progressbar" class="closed progressbar" mcc-upload-progressbar></mcc-modal-window>
  <div id="browse-box">
    <div id="browse-header">
      <div id="browse-action-bar">
        <div id="browse-location" class="header-text">
          <mcc-breadcrumbs></mcc-breadcrumbs>
        </div>
      </div>
      <div id="browse-sort">
        <a id="name-sorter" class="sortable-column-header" ng-click="sortType = 'name'; sortReverse = !sortReverse">
          <span>Name</span>
          <img class="arrow-down" ng-show="sortType == 'name' && !sortReverse" ng-src="/assets/images/icon_spacer.gif" />
          <img class="arrow-up" ng-show="sortType == 'name' && sortReverse" ng-src="/assets/images/icon_spacer.gif" />
        </a>
        <a id="modified-sorter" class="sortable-column-header" ng-click="sortType = 'modified'; sortReverse = !sortReverse">
          <span>Modified</span>
          <img class="arrow-down" ng-show="sortType == 'modified' && !sortReverse" ng-src="/assets/images/icon_spacer.gif" />
          <img class="arrow-up" ng-show="sortType == 'modified' && sortReverse" ng-src="/assets/images/icon_spacer.gif" />
        </a>
        <a id="shared-sorter" class="sortable-column-header" ng-click="sortType = 'sharedWith'; sortReverse = !sortReverse">
          <span>Shared with</span>
          <img class="arrow-down" ng-show="sortType == 'sharedWith' && !sortReverse" ng-src="/assets/images/icon_spacer.gif" />
          <img class="arrow-up" ng-show="sortType == 'sharedWith' && sortReverse" ng-src="/assets/images/icon_spacer.gif" />
        </a>
      </div>
    </div>
    <div mcc-files></div>
  </div>
</div>
<div id="modal-overlay" class="overlay closed"></div>