#upload-input {
    display: none;
}

#upload-status {
    background-color: #e9f4ff;
    border: 1px solid #b9b9b9;
    height: 35px;
    line-height: 35px;
    margin-top: 20px;
    position: relative;
}

#upload-status img {
    float: right;
    padding: 3px 8px;
    margin: 6px 0px;
}

#upload-status #file-info {
    float: left;
}

#upload-status .upload-file-name {
    margin-left: 10px;
}

#upload-progressbar-message {
    font-size: 11px;
    line-height: 32px;
    vertical-align: top;
    margin-top: 20px;
    display: block;
}